# Lab 3
Ming Fong and Max Zhao

In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
columns = ["middle","edge_1","edge_2"]
tile_df = pd.DataFrame(columns=columns)
tile_df["middle"] = [30.52,30.55,30.56,30.61]
tile_df["edge_1"] = [1.25,1.23,1.29,1.30]
tile_df["edge_2"] = [30.11,29.88,30.25,30.10]

tile_df

   middle  edge_1  edge_2
0   30.52    1.25   30.11
1   30.55    1.23   29.88
2   30.56    1.29   30.25
3   30.61    1.30   30.10

In [8]:
tile_df.mean()

middle    30.5600
edge_1     1.2675
edge_2    30.0850
dtype: float64

In [10]:
tile_df.std()

middle    0.037417
edge_1    0.033040
edge_2    0.152862
dtype: float64

In [11]:
tile_df.sem()

middle    0.018708
edge_1    0.016520
edge_2    0.076431
dtype: float64

## Total width

In [18]:
def width_error_prop(a_e1, l_mid, a_n, n, a_mid, a_e2):
    """
    returns alpha_l_width
    """
    return np.sqrt(a_e1**2 + l_mid**2 * a_n**2 + n**2 * a_mid**2 + a_e2**2)

In [19]:
tile_df["middle"].mean() * 16 + tile_df["edge_1"].mean() + tile_df["edge_2"].mean()

520.3125

In [20]:
width_error_prop(tile_df["edge_1"].sem(), tile_df["middle"].mean(), 0, 16, tile_df["middle"].sem(), tile_df.sem()["edge_2"])

0.30937773567813925

# Experiment 3

In [22]:
# accepted value
g_true = 9.80
g_pred = 8.939
a_g = 0.819
abs(g_true - g_pred) < np.sqrt(a_g**2 + 0.01**2)

False