# Lab 5
Ming Fong

Cameron Shotwell

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv('data/Physics 5BL Lab 5.csv')
df

,Trial,A45,A85,A125,A165,A205,A245,B45,B65,B85,B105,B125,B145,C239,C279,C319,C359,C399,C439
0,1,0.08,0.12,0.13,0.19,0.20,0.24,0.20,0.200,0.50,0.98,0.50,0.97,0.46,0.58,0.65,0.70,0.70,0.88
1,2,0.10,0.10,0.12,0.20,0.20,0.24,0.20,0.220,0.50,0.88,0.53,0.94,0.44,0.60,0.68,0.59,0.60,0.79
2,3,0.09,0.10,0.12,0.18,0.21,0.24,0.19,0.240,0.22,0.74,0.56,1.00,0.48,0.59,0.69,0.68,0.80,0.80
3,4,0.08,0.10,0.15,0.18,0.24,0.21,0.21,0.240,0.25,0.51,0.40,0.98,0.49,0.65,0.60,0.75,0.86,0.88
4,5,0.08,0.10,0.12,0.15,0.23,0.22,0.22,0.240,0.38,0.52,0.71,0.90,0.56,0.54,0.66,0.96,0.73,0.86
5,6,NaN,NaN,NaN,NaN,NaN,NaN,0.19,0.250,0.50,0.56,0.71,0.60,NaN,NaN,NaN,NaN,NaN,NaN
6,7,NaN,NaN,NaN,NaN,NaN,NaN,0.24,0.250,0.53,0.58,0.74,0.83,NaN,NaN,NaN,NaN,NaN,NaN
7,8,NaN,NaN,NaN,NaN,NaN,NaN,0.20,0.245,0.50,0.55,0.75,1.00,NaN,NaN,NaN,NaN,NaN,NaN
8,9,NaN,NaN,NaN,NaN,NaN,NaN,0.19,0.240,0.46,0.55,0.72,0.79,NaN,NaN,NaN,NaN,NaN,NaN
9,10,NaN,NaN,NaN,NaN,NaN,NaN,0.20,0.280,0.48,0.54,0.81,0.86,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
c_masses = np.array([239,279,319,359,399,439])
c_masses = c_masses / 1000
c_masses * 9.8

array([2.3422, 2.7342, 3.1262, 3.5182, 3.9102, 4.3022])

In [6]:
df.mean()

Trial    5.5000
A45      0.0860
A85      0.1040
A125     0.1280
A165     0.1800
A205     0.2160
A245     0.2300
B45      0.2040
B65      0.2405
B85      0.4320
B105     0.6410
B125     0.6430
B145     0.8870
C239     0.4860
C279     0.5920
C319     0.6560
C359     0.7360
C399     0.7380
C439     0.8420
dtype: float64

In [7]:
df.sem()

Trial    0.957427
A45      0.004000
A85      0.004000
A125     0.005831
A165     0.008367
A205     0.008124
A245     0.006325
B45      0.004989
B65      0.006517
B85      0.035270
B105     0.052777
B125     0.042532
B145     0.039414
C239     0.020396
C279     0.017720
C319     0.015684
C359     0.061693
C399     0.044317
C439     0.019596
dtype: float64