# Standing Waves Lab
## Experiment 2
### Ming Fong and Cameron Shotwell

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
df = pd.read_csv('data/Standing Waves Data - Sheet1.csv')
df = df[["2_n", "2_m", "2_m_error", "2_L", "2_L_err", "2_string_l", "2_string_m"]]

In [9]:
df

   2_n    2_m  2_m_error   2_L  2_L_err  2_string_l  2_string_m
0  2.0  0.518      0.005  1.48     0.05       2.983       0.013
1  3.0  0.300      0.005   NaN      NaN         NaN         NaN
2  4.0  0.199      0.005   NaN      NaN         NaN         NaN
3  5.0  0.130      0.005   NaN      NaN         NaN         NaN
4  6.0  0.095      0.005   NaN      NaN         NaN         NaN
5  7.0  0.067      0.005   NaN      NaN         NaN         NaN
6  NaN    NaN        NaN   NaN      NaN         NaN         NaN